:root {
  font-family: 'Mona Sans VF', sans-serif;
  font-size: 62.5%;
  line-height: 1.625;
  font-variation-settings: "wght" 400, "wdth" 125, "opsz" 72;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242533;
}

/* Fonts */
@font-face {
  font-family: 'Mona Sans VF';
  src:
    url('../fonts/MonaSansVF[wdth,wght,opsz,ital].woff2') format('woff2 supports variations'),
    url('../fonts/MonaSansVF[wdth,wght,opsz,ital].woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Mona Sans VF';
  src:
    url('../fonts/MonaSansVF[wdth,wght,opsz,ital].woff2') format('woff2 supports variations'),
    url('../fonts/MonaSansVF[wdth,wght,opsz,ital].woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-optical-sizing: auto;
}

html {
  font-family: 'Mona Sans VF';
}

body {
  font-size: 2.4rem;
  font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: inherit;
}

p {
  margin-top: 2rem;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 5rem 0 0rem;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 7.594rem;
  font-size: clamp(4.2rem, 5vw + 1rem, 7.594rem);
}

h2 {
  font-size: 5.063rem;
  font-size: clamp(3.375rem, 3vw + 1rem, 5.063rem);
}

h3 {
  font-size: 3.375rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
}

small,
.text_small {
  font-size: 0.667rem;
}
figure {
  margin: 1rem 0;
}
figcaption {
  text-align: left;
  font-size: 1.6rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.button {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 1rem 2.4rem;
  margin: 2rem 0;
  font-size: 1rem;
  font-size: clamp(1.1rem, 1vw + 1rem, 1.5rem);
  font-family: inherit;
  background-color: #242533;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: background-color 0.25s;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button:focus,
.button:focus-visible {
  outline: 0 auto -webkit-focus-ring-color;
}

/* Custom */

#app {
  width: 80%;
  margin: 0 auto;
  padding: 10rem 2rem 15rem;
  text-align: left;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.home-container {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.hero {
  max-width: 900px;
  margin-top: 5rem;
}
.about-me {
  max-width: 900px;
}
.about-me h2 {
  margin-top: 0;
}


@media only screen and (max-width: 768px) {
  #app {
    padding: 3rem 2rem 8rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 2rem 0 0rem;
    line-height: 1.2;
  }
  .home-container {
    gap: 15rem;
  }
  .hero {
    margin-top: 0;
  }
}
